{% extends "index.html" %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ super() }}
    <link href="{{url_for('static', filename = 'css/login-reg-forms.css')}} " rel="stylesheet">
{% endblock %}
{% block variable_hero_section %}
        <section id="about-hero" class="variable-hero">
            {% if error == 401 %}
                <h3 style="text-align: center;">401 - UNAUTHORISED</h3>
                <p>You have been denied access because you are not logged in. Please login or register to access your personal kanban board.</p>
            {% elif error == 404 %}
                <h3 style="text-align: center;">404 - PAGE NOT FOUND</h3>
                <p>The page you tried to access was not found. Please try again - use the buttons as navigation for more ease.</p>
            {% endif %}

            <img style="width: 300px; height: 300px; margin: 0 auto;" src="{{ url_for('static', filename = 'img/squid.gif') }}">
        </section>
{% endblock %}